@if (Session["user"] == null)
{
    <li>@Html.ActionLink("Home", "HomePage", "Companies")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    <li>@Html.ActionLink("Login", "Login", "Companies")</li>
}
else
{
    <li>@Html.ActionLink("HomePage", "Index", "Companies")</li>
    <li>@Html.ActionLink("Logout", "Login", "Companies")</li>
}